{% extends 'HIACoreBundle::layout.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="page-header">
            <h1 class="text-success">Recherche personnalisée <small id="loader"></small></h1>
        </div>
    </div>

    <div class="col-lg-12">
        <form class="form" action="#" role="form">
            <div class="input-group">
                <input type="text" id="formName" class="form-control input-lg" placeholder="Nom du formulaire">
                <div id="btnFormSearch" class="input-group-addon"><span class="glyphicon glyphicon-refresh"></span> Rechercher</div>
            </div>
        </form>
    </div>

    <div class="col-lg-12 pushtop20 text-center">
        {% for tag in tags %}
            <h3 class="inline"><span id="{{ tag.id }}" class="hoveractive label label-primary selectableTag">{{ tag.name }}</span></h3>
        {% endfor %}
    </div>

    <div class="col-lg-12 pushtop20">
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Accès</th>
                </tr>
            </thead>
            
            <tbody id="listForm">
                <noscript><h1 class="text-center">Merci d'activer le JavaScript</h1></noscript>
            </tbody>
        </table>

        <button class="btn btn-primary" id="moreForm">Plus</button>

    </div>

{% endblock body %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock css %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset("js/selectTag.js") }}"></script>
{% endblock javascripts %}