<p class="well well-sm text-center">
    Des autres utilisateurs
</p>

<div class="list-group">

    {% for submit in list %}

        <a href="{{ path('HIAFormReadRegistration', {'id': submit.id}) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ submit.form.name }} <small>le {{ submit.registrationDate|date("d-m-Y à H:i") }} par {{ submit.userSubmit.fullname }}</small></h4>
            <p class="list-group-item-text">
                {{ submit.userComment }}
            </p>
        </a>
    {% else %}
        <div class="list-group-item">
            <p class="list-group-item-text">
                Aucun formulaire non traité
            </p>
        </div>
    {% endfor %}

</div>